// Colors
$dark-color: hsl(212, 21%, 14%);
$medium-color: hsl(228, 12%, 48%);
$light-color: hsl(0, 0%, 100%);
$primary: hsl(158, 36%, 37%);
$secondary: hsl(30, 38%, 92%);

// Fonts
$font-serif: "Fraunces", serif;
$font-sans: "Montserrat", sans-serif;
$font-sm: 14px;
